# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [4]:
# Your code goes here

import pandas as pd

file_url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(file_url)

print(df.head())

   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [7]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

print(df.head())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   number_of_open_complaints number_of_policies     policy_type        policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  vehicle_size vehicle_type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

In [8]:
df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]

print(df.head())

     unnamed:_0 customer       state  customer_lifetime_value response  \
189         189  OK31456  California             11009.130490      Yes
236         236  YJ16163      Oregon             11009.130490      Yes
419         419  GW43195      Oregon             25807.063000      Yes
442         442  IP94270     Arizona             13736.132500      Yes
587         587  FJ28407  California              5619.689084      Yes

     coverage             education effective_to_date employmentstatus gender  \
189   Premium              Bachelor           1/24/11         Employed      F
236   Premium              Bachelor           1/24/11         Employed      F
419  Extended               College           2/13/11         Employed      F
442   Premium                Master           2/13/11         Disabled      F
587   Premium  High School or Below           1/26/11       Unemployed      M

     ...  number_of_open_complaints number_of_policies     policy_type  \
189  ...                        0.0                  1  Corporate Auto
236  ...                        0.0                  1    Special Auto
419  ...                        1.0                  2   Personal Auto
442  ...                        0.0                  8   Personal Auto
587  ...                        0.0                  1   Personal Auto

           policy  renew_offer_type  sales_channel  total_claim_amount  \
189  Corporate L3            Offer2          Agent         1358.400000
236    Special L3            Offer2          Agent         1358.400000
419   Personal L2            Offer1         Branch         1027.200000
442   Personal L2            Offer1            Web         1261.319869
587   Personal L1            Offer2            Web         1027.000029

     vehicle_class vehicle_size vehicle_type
189     Luxury Car      Medsize          NaN
236     Luxury Car      Medsize            A
419     Luxury Car        Small            A
442            SUV      Medsize            A
587            SUV      Medsize            A

[5 rows x 26 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [9]:
df = df[df['response'] == 'Yes']

pivot_table = df.pivot_table(values='total_claim_amount', index=['policy_type', 'gender'], aggfunc='mean').reset_index()

print(pivot_table)

      policy_type gender  total_claim_amount
0  Corporate Auto      F         1138.400000
1  Corporate Auto      M         1171.150007
2   Personal Auto      F         1214.853805
3   Personal Auto      M         1137.861443
4    Special Auto      F         1358.400000
5    Special Auto      M         1017.500015

In [ ]:
# Male customers have on average a slightly higher total claim amounts compared to female customers for corporate auto policies. 
# Female customers have on average a slightly higher total claim amounts compared to male customers for personal auto policies. 
# And for special auto policies, female customers have on average a significantly higher total claim amounts compared to male customers.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [11]:
state_counts = df.groupby('state').size().reset_index(name='customer_count')
print(state_counts)

        state  customer_count
0     Arizona               8
1  California              24
2      Nevada               3
3      Oregon              27
4  Washington               5

In [12]:
states_more_than_500_customers = state_counts[state_counts['customer_count'] > 500]
print(states_more_than_500_customers)

Empty DataFrame
Columns: [state, customer_count]
Index: []

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [13]:
customer_lifetime = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()
print(customer_lifetime)

              education gender           max           min        median
0              Bachelor      F  11009.130490   8427.172486  10179.717040
1               College      F  25807.063000  25807.063000  25807.063000
2               College      M   7840.165778   3508.569533   5674.367656
3  High School or Below      M  10963.957230   5619.689084   8291.823157
4                Master      F  19160.989940  13736.132500  16448.561220

In [14]:
# female customers with a College education have the highest maximum customer lifetime value.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here